# --- CORE DJANGO ---
Django==5.2.7           # Główny framework aplikácie
gunicorn==23.0.0        # Produkčný WSGI server pre nasadenie (Render/Heroku/AWS)

# --- DATABASE & INFRASTRUCTURE ---
psycopg-binary==3.3.3   # Nekomplikovaný Postgres adaptér pre produkčnú databázu
dj-database-url==3.1.2  # Bezpečné čítanie DATABASE_URL z prostredia
python-dotenv==1.2.2    # Načítanie súboru .env pre lokálny vývoj
whitenoise==6.12.0      # Starostlivosť o rýchle a bezpečné doručovanie statických súborov (CSS/JS) v produkcii

# --- CACHING & SECURITY ---
redis==7.3.0            # Cache backend (využívané pre ochranu rate limitingom)
django-ratelimit==4.1.0 # Ochrana proti spamu na transcribe_view

# --- EXTERNAL APIS ---
openai==2.16.0               # Klient pre bezproblémové napojenie na Whisper_v1 model
django-anymail[resend]==11.1 # Asynchrónne doručovanie registračných e-mailov cez službu Resend
