<!doctype html>
<html lang="en">
  <head>
    {% load static tailwind_tags %}
    {% tailwind_css %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    {% block title %}
      <title>Kouč rečníctva</title>
    {% endblock %}



    
    {% block extra_head %}

    {% endblock %}
  </head>
  <body class ="bg-gradient-to-br from-green-400 to-blue-500 min-h-screen flex-col"->

    {% include "navbar.html" %}

   {% block content %} 
   
   {% endblock %}

   {% include "footer.html" %}
   <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>
